<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <div class="header">
        <h1>Alma Calculator</h1>
        <div class="header-right">
          <a href="{{url_for('home')}}">Home</a>
          <a href="{{url_for('about')}}"">About</a>
          <a class="active" href="{{url_for('contact')}}">Contact</a>
        </div>
      </div>
        <div class="container">
            <p>For enquiries, you can email me at tohdekai@outlook.com</p>
        </div>
            <a href="https://www.linkedin.com/in/tohdekai/" class="fa fa-linkedin fa-lg"></a>
            <a href='https://github.com/TohDeKai'class="fa fa-github fa-lg"></a>
    </body>
</html>