<!DOCTYPE html>

<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
      <div class="header">
        <h1>Alma Calculator</h1>
        <div class="header-right">
          <a href="{{url_for('home')}}">Home</a>
          <a class="active" href="{{url_for('about')}}"">About</a>
          <a href="{{url_for('contact')}}">Contact</a>
        </div>
      </div>
        <div class="container">
            <p>When I first got my A Levels results 2 years ago, I was at a lost at what to do.</p>
            <p>I had no direction, no idea on what to do next</p>
            <p>It took a lot of time for me to compare and figure out which courses I could go</p>
            <p>With this project, I hope to aid fellow students in their uni applications</p>
            <p> </p>
        </div>
        <h2> FAQ</h2>
        <p class='question'>Q: Why aren't there selection of courses from SIT, SUTD and other universites?</p>
        <p class='answer'>A: The IGP for these universities are not found online </p>
        <br>
        <p class='question'>Q: Where did you get these figures/grades from?</p>
        <p class='answer'>A: I've linked my sources here: <a href='https://www.nus.edu.sg/oam/undergraduate-programmes/indicative-grade-profile-(igp)'>NUS</a>, <a href='https://admissions.smu.edu.sg/admissions/indicative-grade-profiles-igp'>SMU</a> and <a href='https://www3.ntu.edu.sg/oad2/website_files/IGP/NTU_IGP.pdf'>NTU</a> </p>
        <br>
        <p class='question'>Q: How did you build this web app?</p>
        <p class='answer'>A: Frontend development was done using HTML and CSS while backend development was done using Flask. Deployment of web app is through Heroku. </p>
        <br>
        <p class='question'>Q: I want to work on this project as well. How can I do that?</p>
        <p class='answer'>A: You can fork my <a href='https://github.com/TohDeKai/available_uni_courses'>Github project </a> and submit a pull request </p>
        </body>
</html>