<!DOCTYPE html>
<meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0">
<html>
    <head>
      <title>About A Level Calculator</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
      <meta name="description" content="Web app that helps you to calculate your A Level score and help you find university courses based on that.">
      <meta name="keywords" content="A Level, University courses, NUS, NTU, SMU">
      <meta name="author" content="De Kai">
    </head>
    <body>
      <div class="header">
        <div class="header-right">
          <a href="{{url_for('home')}}">Home</a>
          <a class="active" href="{{url_for('about')}}"">FAQ</a>
          <a href="{{url_for('calculate')}}">Calculate</a>
        </div>
      </div>
        <div class="container">

            <h2> FAQ</h2>
            <p class='question'>Q: Why aren't there selection of courses from SIT, SUTD and other universites?</p>
            <p class='answer'>A: The IGP for these universities are not found online </p>
            <br>
            <p class='question'>Q: Where did you get these figures/grades from?</p>
            <p class='answer'>A: I've linked my sources here: <a href='https://www.nus.edu.sg/oam/undergraduate-programmes/indicative-grade-profile-(igp)'>NUS</a>, <a href='https://admissions.smu.edu.sg/admissions/indicative-grade-profiles-igp'>SMU</a> and <a href='https://www3.ntu.edu.sg/oad2/website_files/IGP/NTU_IGP.pdf'>NTU</a> </p>
            <br>
            <p class='question'>Q: How did you build this web app?</p>
            <p class='answer'>A: Frontend development was done using HTML and CSS while backend development was done using Flask. Deployment of web app is through Heroku. </p>
            <br>
            <p class='question'>Q: I want to work on this project as well. How can I do that?</p>
            <p class='answer'>A: You can fork my <a href='https://github.com/TohDeKai/available_uni_courses'>Github project </a> and submit a pull request </p>
            <br><br>
          </div>
        
        </body>
</html>